<% for(var i = 0; i < users.length; i++) { %>
<tr>
    <% var newDate = new Date(`${users[i].date}`);
    var year = newDate.getFullYear();
    var mes = newDate.getMonth()+1;
    var dia = newDate.getDate();
    var fecha =dia+"-"+mes+"-"+year;
    %>
    <td><%= fecha%></td>
    <td><%= users[i].category%></td>
    <td><%= users[i].cost%></td>
    <td><%= users[i].description%></td>
    <td>
        <a href="/see?id=<%= users[i].category%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete" data-id=<%= users[i]._id%> >
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% } %>