<% var sum = 0; %>

<span class="container" ><%=`${users[0].date}` ;%> </span>
<% for(var i = 0; i < users.length; i++) { %>
    <tr>
        <% var newDate = new Date(`${users[i].date}`);
        var year = newDate.getFullYear();
        var mes = newDate.getMonth()+1;
        var dia = newDate.getDate();
        var fecha =dia+"-"+mes+"-"+year;
        %>
        <td><%= fecha;%></td>
        <td><%= users[i].category;%></td>
        <td><%= users[i].description;%></td>
        <td><%= users[i].cost ;%></td> 
    </tr>
    <% sum = +sum + +users[i].cost;%>
    <% }; %>
    <tr>
        <td>TOTAL</td>
        <td>All Expenses in This Date</td>
        <td><%= sum; %></td>
    </tr>