<% for(var i = 0; i < expenses.length; i++) { %>
<tr>
    <% var newDate = new Date(`${expenses[i].date}`);
    var year = newDate.getFullYear();
    var mes = newDate.getMonth()+1;
    var dia = newDate.getDate();
    var fecha =dia+"-"+mes+"-"+year;
    %>
    <td><%= fecha;%></td>
    <td><%= expenses[i].category;%></td>
    <td><%= expenses[i].cost;%></td>
    <td><%= expenses[i].description;%></td>
    <td>
        <a class="btn border-shadow delete" data-id=<%= expenses[i]._id;%> >
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% }; %>